PORT=3001
FRONTEND_ORIGIN=http://localhost:8080

GITHUB_CLIENT_ID=__set_me__
GITHUB_CLIENT_SECRET=__set_me__
GITHUB_REDIRECT_URI=http://localhost:3001/oauth/github/callback

GOOGLE_CLIENT_ID=__set_me__
GOOGLE_CLIENT_SECRET=__set_me__
GOOGLE_REDIRECT_URI=http://localhost:3001/oauth/google/callback